.input{
    width:2rem;
    margin:0 0.2rem;
    font-family: inherit;
}

.select{
    width:6rem;
    font-family: inherit;
}

.input, .select{
    padding: 0.3rem 0.2rem;
    font-size: large;
}

.action-btns, .close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border:none;
    background-color: #c9eed3;
    border-radius: 5px;
    margin-left: 1px;
}

.action-btns:disabled{
    background-color: gray;
}