.input {
    font: inherit;
    font-size: 14px;
    padding: 0.2rem;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: inherit;
    width:100%
}

.btn {
    background-color: #ccc;
    border:none;
    padding:0.2rem 0.5rem;
    border-radius: 5px;
    font:inherit;
}

.verified-span{
    padding: 0.5rem;
    background-color: #c9eed3;
    border-radius: 10px;
    color: #0B6623;
    box-sizing: border-box;
}

.unverified-span{
    padding: 0.5rem;
    background-color: #F8D7DA;
    color: #721C24;
    border-radius: 10px;
    box-sizing: border-box;
}