.contact-header {
    height: 250px;
    width: 100%;
    display: flex;
    background-color: #0b6623;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 100%;
    background-position: 60% 40%;
    background-image: url("../../Images/contact.jpeg");
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    color:white
}

.wholesale{
    width:90%;
    text-align: justify;
}

@media screen and (min-width:900px) {
    .wholesale{
        width: 70%;
    }
}