.auth-form {
    margin: 6rem auto 0 auto;
    padding: 0.5rem 0 0 0;
    background-color: white;
    height: fit-content;
    z-index: 4;
    animation-name: examples;
    animation-duration: 1s;
    text-align: left;
    font-size: larger;
    box-sizing: border-box;
    border-radius: 10px;  

}

.short{
    width:48%;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
    border: 1px #cfcacc solid;
    border-radius: 5px;
    font: inherit;
}

.long{
    width: 100%;
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;
    border: 1px #cfcacc solid;
    border-radius: 5px;
    font: inherit;
}

.button{
    background-color: #0b6623;
    height:2.5rem;
    width:fit-content;
    color:white;
    border:none;
    font:inherit;
    font-size: medium;
    padding: 0 2rem;
    border-radius: 5px;
}

.button:disabled{
    background-color: gray;
    color: black;
}

@keyframes examples {
    from {
        opacity: 0;;
    }

    to {
        opacity: 100;;
    }
}

@media screen and (min-width:1000px) {
    .auth-form{
        width: 50%;
        left:calc(100% - 75%)
    }
}