.error-alert, .success-alert {
    height: fit-content;
    position: fixed;
    left: 2.5%;
    width: 95%;
    top:0;
    z-index: 6;
    animation-name: examples;
    animation-duration: 1s;
    box-sizing: border-box;
    border-radius: 10px;
}

.error-alert{
    background-color: #F8D7DA;
    color:#721C24;
}

.success-alert{
   background-color: #D4EDDA;
   color: #155724;
}

.text-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes examples {
    from {
        top: -50%;
    }

    to {
        top: 0;
    }
}