.about-header {
    height: 10rem;
    width: 100%;
    display: flex;
    background-color: #0b6623;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60% 100%;
    background-blend-mode: multiply;
    background-image: url("../../Images/about.jpg");
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    color:#CCCCCC;
}

.banner{
    margin-top:6rem;
    background-color: #0b6623;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 30%;
    background-blend-mode: multiply;
    background-image: url("../../Images/nobg.png");
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.paragraph{
    width:100%;
    margin: 2rem auto;
    color: #CCCCCC;
    opacity: 7.5;
    text-align: justify;
}



@media screen and (min-width: 900px) {
    .banner{
        background-size: 30%;
    }

    .paragraph{
        width:70%;
    }
}