.about-header {
    height: 10rem;
    width: 100%;
    display: flex;
    background-color: #0b6623;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60% 100%;
    background-blend-mode: multiply;
    background-image: url("../../Images/about.jpg");
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    color:#CCCCCC;
}

.banner{
    background-color: #E79C59;
    margin: 5rem auto 0 auto;
    width: 90%;
    display: flex;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    background-blend-mode: multiply;
    background-image: url("../../Images/about.jpeg");
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
}

.paragraph{
    width:100%;
    margin: 2rem auto;
    color: black;
    opacity: 7.5;
    text-align: justify;
}



@media screen and (min-width: 900px) {
    .banner{
        background-size: 30%;
    }

    .paragraph{
        width:70%;
    }
}